html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 2rem;
}

h3, button {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

/*header section */
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 5px 2%;
  background-color: #e5dcc1;
}

.logo {
  max-height: 100%;
}

.logo img {
  height: 80%;
  border-radius: 50%;
}

nav li {
  float: left;
  list-style-type: none;
  padding: 0 0.5rem;
}

nav a {
  text-transform: uppercase;
  font-size: 1.5rem;
}

/*journeys section */
#journeys {
  margin-top: 40px;
  background-color: white;
}

.banners {
  display: flex;
  justify-content: space-around;
}

.content {
  background-color: #e5dcc1;
  text-align: center;
  width: 30%;
  height: 900px;
}

.image-container {
  height: 550px;
  width: auto;
}

.image-container img {
  height: 100%;
  width: 90%;
}

.description {
  padding: 5%;
}
/*about us section */

#about {
  margin: 100px 0;
}

.company-description {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 50px 20%;
  align-items: center;
}

.portrait {
  height: 200px;
  width: 150px;
}

.portrait img {
  height: 100%;
  width: 100%;
}

/* ecperience section */
#experience {
  text-align: center;
}

#experience button {
  background-color: red;
  color: white;
  border: solid 1px red;
  width: 250px;
  height: 100px;
  box-shadow: 8px 5px orange;
}

/* footer */
footer {
  display: inline-flex;
  background-color: black;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

footer p {
  color: white;
}
